{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container">
    <h1 class="display-4 text-center my-5">Tasks List</h1>
    <div class="text-center mb-4">
      <a href="{% url 'to_do:task-create' %}" class="btn btn-dark">Create</a>
    </div>
    {% if task_list %}
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Started</th>
            <th>Deadline</th>
            <th>is_done</th>
            <th>tags</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for task in task_list %}
            <tr>

              <td>{{ task.id }}</td>
              <td title="{{ task.content }}">{{ task.name }}</td>
              <td>{{ task.datetime }}</td>
              <td>{{ task.deadline }}</td>
              <td>
                {% if task.is_done %}
                  <a href="{% url 'to_do:task-is-done' pk=task.id %}" class="btn btn-dark">This is done</a>
                {% else %}
                  <a href="{% url 'to_do:task-is-done' pk=task.id %}" class="btn btn-danger">This is not done</a>
                {% endif %}
              </td>
              <td>
                {% for tag in task.tags.all %}
                  {{ tag.name }},
                {% endfor %}
              </td>
              <td><a href="{% url "to_do:task-update" pk=task.id %}" class="btn btn-secondary">Update</a></td>
              <td><a href="{% url "to_do:task-delete" pk=task.id %}" class="btn btn-secondary">Delete</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="alert alert-warning" role="alert">
        There are no tasks.
      </div>
    {% endif %}
  </div>
{% endblock %}
